.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    background-color: black;
    color: green;
}
.submitButton{
    border: 1px solid black;
    color: black;
    background-color: green;
}
.createHeader {
    text-decoration: underline;
}
h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.createInput {
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid green;
    color: green;
}

.roleSelect {
    padding: 10px;
    border-radius: 5px;
    color: green;
    background-color: black;
    border: 1px solid green
}
::placeholder{
    color: green;
}
input[type=text] {
    background-color: black;
    color: green;
}

input[type=text]:focus {
    border: 2px solid green;
    outline: none;
}
button {
    padding: 10px;
    border-radius: 5px; 
    border: none; 
    background-color: #007BFF; 
    color: white; 
    cursor: pointer; 
}

.textArea {
    background-color: black;
    border: 1px solid green;
}

.textArea[type=text] {
    background-color: black;
    color: green;
}


.textArea[type=text]:focus {
    border: 2px solid green;
    outline: none;
}